option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

commands:
  01_install_tesseract:
    command: "sudo yum install -y tesseract tesseract-langpack-spa tesseract-langpack-eng"
  02_install_poppler:
    command: "sudo yum install -y poppler-utils"
  03_download_spacy_models:
    command: "python -m spacy download es_core_news_sm && python -m spacy download en_core_web_sm"
    leader_only: true

packages:
  yum:
    gcc: []
    gcc-c++: []
    make: []
    zlib-devel: []
    libjpeg-turbo-devel: []